* {
  box-sizing: border-box;
}

:root { /*Setting three common colours*/
--primary-colour: #336699;
--secondary-colour: #ADD2C2;
--tertiary-colour: rgb(62, 59, 59);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  max-width: 100vw;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header and Navigation Section Start*/

header {
  background-color: var(--tertiary-colour);
  color: var(--tertiary-colour);
  height: 15vh;
  display: flex; /*Moving h1 to left and nav to right*/
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
 
}

nav ul {
  display: flex;
  flex-direction: row; /*Navigation items in a row rather than column*/
  align-items: center;
  justify-content: right;
  gap: 40px; /* Sufficient space between items */
  font-size: 25px;
  text-decoration: underline;
  color: var(--secondary-colour);
  list-style-type: none; /* Removing bullet points from list */
  margin-right: 30px;
}

a {
  color: inherit; /*Overwriting standard link colours */
}

li a:hover {
  text-decoration: none; /*Removing underline from standard link style */
  color: var(--primary-colour);
}

header h1 { /*Aligning the h1 to the left and styling accordingly*/
  background-color: var(--secondary-colour);
  padding-left: 60px;
  padding-right: 10px;
  font-size: 40px;
}

/* Header and Navigation Section Start*/

/* Hero Section Start */

.hero-banner {
  
  display: flex;
  align-items: center; 
  justify-content: space-between; /* Space between the profile image and hero text */
  width: 100%; 
  height: 70vh; /* 70% viewport height */
  position: relative; 
  overflow: hidden; /*Stops the image going over the edge of the container*/
  margin-bottom: 10px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; /*Image is absolutely positioned, based on the relative position of the hero banner.*/
  left: 0;
  top: 0;
  z-index: -1; /*Hero image sits behind text and profile image*/
}

.profile-image {
  border-radius: 50%; /*Rounded edges*/
  width: 40%;
  height: auto;
  margin-left: -30px; /*Moved profile image slightly off the page*/
  z-index: 3; /*Sits above the hero image and also the hero overlay*/
  align-self: left;
  margin-top: 15%; /*Overhang the bottom of the hero sligtly*/
}

.hero-text {
  margin: 50px;
  z-index: 10; /*Ensures it can never be covered up*/
  text-align: right;
  color: var(--tertiary-colour);
  background: var(--secondary-colour);
  justify-content: right;
  padding: 40px;
  align-self: flex-end; /*Moved it to the bottom*/
}

.hero-text h2 {
  font-size: 30px;
}

.hero-text p {
  font-size: 20px;
}

.hero-banner::before { /*Added a partially transparent overlay to the hero*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 102, 153, 0.4); 
  z-index: 1; 
}

.primary {
  color: var(--primary-colour);
}

/*Hero Section End */

/* Main Section Start */

.page-wrapper {
  width: 95%; /*Slightly reduced width of page wrapper, to add natural margin*/
}

.page-section {
  display: flex; /* Flex for title to be on left and content to be on right */
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  gap: 10px;
}

.section-title {
flex: 0 0 auto; /*Preveting title from expanding */
width: 25%; /*Title section takes up one quarter of the page wrapper*/
text-align: right;
font-size: 30px;
color: var(--primary-colour);
position: sticky; /* Section title is sticky */
top: 30vh; /* Section title moves at 30% of the screen height */

}

.page-section p {
 flex: 1; /*Flex grow used to change the width depending on screen size*/
 padding-left: 20px;
 border-left: 5px solid var(--primary-colour);
 color: var(--primary-colour); 
}
 
 
.work-tiles { /*Class added to create grid for work content*/
 display: grid;
 grid-template-rows: repeat(2fr, 1fr);
 grid-template-columns: repeat(2fr, 1fr);
 grid-template-areas: /*First item is twice the size of the others*/
 "one one"
 "one one"
 "two three"
 "four five";
 gap: 20px;
 border-left: 5px solid var(--primary-colour);
 padding-left: 20px;
}
/*Grid Areas*/
.image-container.one {
  grid-area: one;
  }
  
.image-container.two {
  grid-area: two;
  }

.image-container.three {
  grid-area: three;
  }

.image-container.four {
grid-area: four;
}

.image-container.five {
  grid-area: five;
}

.image-container {
  position: relative;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.image-container img {
  width: 100%; 
  height: auto; 
  border: 10px solid var(--secondary-colour);
  object-fit: cover;
}

.image-overlay { /*Added a light opacity when hovering over the item*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.1; /* Barely visibile initially, uses .image-container:hover class lower down CSS file */
  transition: opacity 0.5s;
}

.overlay-text {
  position: absolute; /* Absolute position relative to its parent */
  bottom: 40px; 
  left: 0; 
  color: var(--tertiary-colour); 
  background-color: var(--secondary-colour);
  padding: 10px; 
  min-width: 30%; /*Overlay box is at least 30% of image container, irrespective of content */
  max-width: 60%; /*Max width is limited to 60% of container*/
}

.overlay-text p {
  color: var(--tertiary-colour);
  font-size: 16px;
  border: none;
  padding: 0px;
}

.image-container:hover .image-overlay { /*On hover, opacity of image overlay goes from 0.1 to 1*/
 opacity: 1;
}

.contact-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-left: 5px solid var(--primary-colour);
  padding-left: 20px;
  gap: 20px;
  font-size: 20px;
  flex-wrap: wrap;
  color: var(--primary-colour);
}

ul {
  padding-left: 0;
  list-style-type: none;
}

/* Main Section End */

/* Responsive Media */

@media screen and (max-width: 960px) {
  /* Styles for tablet portrait mode */
  
  header {
    flex-direction: column; /* Stack elements vertically */
    text-align: center; /* Center the text for all child elements */
  }

  header h1 {
    width: 100%;
    padding: 10px 0; 
    text-align: center;
  }

  nav {
    display: flex;
    height: 8vh;
    width: 100%;
    background-color: var(--tertiary-colour);
    z-index: 4; /*Sits higher than hero image in case of any overlap*/
    align-items: center;
    justify-content: space-evenly;
  }

  nav ul {
    background-color: var(--tertiary-colour);
    width: 100%;
    justify-content: center;
    font-size: 23px;
    gap: 20px; /* Adjust gap between nav items */
  }

  .hero-banner {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .profile-image {
    display: none; /* Hides the profile image */
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the hero text */
    text-align: center;
    margin: 0; 
    padding: 20px; 
  }

  .hero-banner::before {
    background-color: rgba(51, 102, 153, 0.6); /* Overlay  */
  }

}

@media screen and (max-width: 768px) {

nav ul {
  font-size: 22px;
  gap: 25px; /*Gap increased as font size is smaller*/
}
.page-section {
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align items to the start of the container */
}

.section-title {
  width: 100%; /* Title to be full width */
  text-align: center; /* title center aligned */
  position: relative; 
  top: auto; 
  margin-bottom: 20px; 
}

.page-section p {
  padding-left: 0; /* Remove left padding */
  border-left: none; /* Remove left border */
  color: var(--primary-colour);
  margin: 20px;
}

/*
.work-tiles {
  grid-template-columns: 1fr; /* single column structure instead of 2 */
  /*grid-template-rows: 5; /* five rows */
  /*grid-template-areas: 
  "one"
  "two"
  "three"
  "four"
  "five";
}
*/

.image-container {
  width: 100%; /* Images to be full width on mobile */
}

}

@media screen and (max-width: 570px) {
  .work-tiles {
    grid-template-columns: 1fr; /* single column structure instead of 2 */
    grid-template-rows: 5; /* five rows */
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five";
  }
}

@media screen and (max-width: 480px) {
  nav ul {
    font-size: 18px;
  }
}